[core]
    excludesfile = ~/.dotfiles/.gitignore_global

[user]
    email = jessereitz1@gmail.com
    name = Jesse Reitz

[alias]
    st = status
    br = branch
    co = checkout
    ci = commit

[pull]
    rebase = false

[pager]
	branch = false
