[core]
    excludesfile = ~/.gitignore_global

[user]
    email = jessereitz1@gmail.com
    name = Jesse Reitz

[alias]
    st = status
    br = branch
    co = checkout
    ci = commit

[hub]
    protocol = https
